<% layout('layout') %>

<div class="container mt-5">
  <h1 class="text-center"><%= title %></h1>
  <div class="row">
    <% products.forEach(product => { %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text"><%=product.description %></p>
          <a href="/produk/<%= product.id %>" class="btn btn-primary mt-auto"
            >Detail Produk</a
          >
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
